@import 'breakpoints';

.tabs {
	$parent: &;

	&__nav {
		margin-bottom: var(--space-md);

		ul,
		li {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li {
			display: block;
		}

		a {
			display: block;
			padding: 5px;
			background-color: rgba(255, 255, 255, 0.1);
			border: 1px solid #ccc;
			transition: all 0.3s;

			&.active {
				background-color: #fff;
				color: #000;
				border-color: green;
			}
		}
	}

	&--horizontal {
		#{$parent}__nav {
			ul {
				display: flex;
			}
			li {
				flex-grow: 1;
			}
		}
	}
}
